Scrapy==1.8.2
pymongo==3.10.1
boto3==1.10.8
urllib3>=1.26.5 # not directly required, pinned by Snyk to avoid a vulnerability
twisted>=22.1.0 # not directly required, pinned by Snyk to avoid a vulnerability